$line-height: 24px;

.amada-part {
  background: white;

  position: relative;
  display: flex;
  padding: 0;
  width: 100%; 
  height: 100%; 
  font-family: consolas; 
  font-size: 14pt; 
  line-height: 24px;
  overflow: auto;
  padding-right: 5px;
  font-family: Consolas, "Courier New", monospace;
  font-size: 18px;




  .amada-lines {
    width: 40px;
    color: $grey-light;
    text-align: right;
    padding-right: 0;

    >.line-number {
      padding-right: 5px;
    }


  }


  .amada-content {
    width: 100%;
    height: 100%;
    position: relative;

    .cursor {
      position: absolute;
    }

    .section-item {
      display: block;

      >.section-codes {
        margin-left: 15px;
      }

      &.section-part>.section-codes {
        margin-left: 0;
      }

    }
    

    .line-item {
      display: block;
      width: 100%;
      height: $line-height;

      .line-header  {
        display: inline-block;
      }
      .line-codes {
        display: inline-block;
      }

      .line-footer {
        display: inline-block;
      }

    }



    .inline-item {
      display: inline-block;
      line-height: $line-height;

      .inline-header  {
        display: inline-block;
      }
      .inline-codes {
        display: inline-block;
      }

      .inline-footer {
        display: inline-block;
      }
    }

   
  }



}


