.amada-properties {
  padding: 0;
  margin: 0;
  
  .title {
    display: block;
    background: rgba(gray,0.3);
    padding: 5px;
    font-size: 2rem;
    text-align: center;
    color: rgba(gray,0.7);

  }
}