$primary-color: rgb(166, 22, 238);
$layout-color: rgba(204, 204, 204, 0.3);

$title-color: rgba(204, 204, 204, 0.1);
$border-color: rgba($layout-color,0.7);

.cursor {
  background-color: rgba($primary-color,0.3);
  border-left: 1px solid red;

  &.edit {
    background-color: rgba(red,0.3);
  }
}



// ::-webkit-scrollbar {
// width: 8px;
// width: 0px;
// &:hover {
//   width: 8px;
// }

// }
/* Track */
::-webkit-scrollbar-track {
-webkit-border-radius: 5px;
border-radius: 5px;

}
  
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba($primary-color,0.23);
}

.line {
  color: blue;
}

// .line-number {
//   color: rgba(128,128,128,0.53);
// }

.code {
  color: blue;
}

.editor-rename .selected-code{
  background-color: rgba(255,25,25,.2);
}


.editor-view .selected-code {
  background-color: rgba(0,25,255,.2);
  
}

.editor-edit .selected-code {
  background-color: rgba(0,25,255,.05);
  .selected-id {
    background-color: rgba(255, 0, 221,.06)
  }

}

.section-part {


  &.selected-code {
    background-color: rgba(255, 0, 221, 0.2); 
  }

  &>.footer {
    background-color: rgba(blue,0.5);
    color: white;
    width: 100%;
    display: block;
  }
}

.properties {
  color:red;

  .property {
    color: rgba(black,0.8);

    .key {
      color: blue;
    }

    .val {
      color: green;
    }
  }
}


.amada-content {

  .comment  {
    color: rgba(black,0.5);
    // opacity: 0.8;

    * {
      color: rgba(black,0.5);
    }
    // background: rgba(silver,0.03);
  }

  .edited-code {
    background:rgba(red,0.08);
  }
}

.value {

  .key {
    color:rgba(250,100,200,1.0);
  }

  .val {
    color: blue;
  }
}

.key {
  color: rgba(250,100,200,1.0);
}

.content {
  color: blue;
}


.section {
  
  >.header {
    background-color: rgba(255,0,0,0.02);
    color:rgba(250,100,200,1.0);
  }


  

  >.codes {
    border-left: 1px dashed rgba(red,0.1);
    padding-left: 5px;
  }

  >.footer {
    background-color: rgba(255,0,0,0.02);
    color:rgba(250,100,0,1.0);
  }


  &.line-number {
    color: rgba(250,100,200,0.5);
    // background-color: rgba(255,0,0,0.2);;
  }


  // background: red;
}

.ace_gutter {
  background-color: white;// rgba($primary-color,0.03);
  border-left: 1px solid rgba($primary-color,0.7);
  // border-right: 1px solid rgba($primary-color,0.7);
  // width: 25px !important;
}

.ace_gutter-layer {
  background: white;
}

.amada-properties {
  border-left: 1px dashed rgba($layout-color,0.7);
  background: rgba($title-color,0.04);

  .title {
    background: $title-color;
    border-bottom: 1px dashed $border-color;
    // height: 70px;
  }
}

// .group {
//   color: red; 

//   .prefix {
//     color: blue;
//   }

//   .suffix {
//     color: green;
//   }
// }
